<div class="text-center">
   <div x-data="digimon" x-cloak>
      <template x-show="filterItems === null">Carregando ...</template>
      <input type="text" x-model="filter" class="form-control form-control-sm mb-2">
      <template x-for="item in filterItems">
         <div class="shadow-sm p-3 mb-3 bg-light rounded">
            <div><img x-bind:src="item.image"/></div>
            <div x-text="item.name"></div>
         </div>
      </template>
   </div>
</div>
@section Scripts {
   <script src="~/js/digimon.js" asp-append-version="true" defer></script>
}